.detail-page {
  background-color: #858f9b;
  height: auto;
}

.base-div {
  display: flex;
  margin-bottom: 20px;
}

.detail-title {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 40px;
  text-transform: capitalize;
}

.info-div {
  padding-left: 30px;
}

.image {
  padding-left: 30px;
}

@media screen and (max-width: 1024px) {
  .base-div {
    display: grid;
  }

  .image {
    width: 500px;
  }

  .buttons {
    justify-content: right;
    align-content: flex-start;
  }
}

@media screen and (max-width: 400px) {
  .base-div {
    display: grid;
  }

  .image {
    width: 300px;
  }

  .buttons {
    justify-content: right;
    align-content: flex-start;
  }

  .upgrade-info {
    padding-left: 20px;
  }

  .delete-button {
    height: 10px;
  }
}
.upgrade-div {
  display: flex;
  padding-bottom: 10px;
}

.upgrade-image-div {
  width: 300px;
}

.upgrade-image {
  margin-left: 30px;
  width: 220px;
  height: auto;
}

.upgrade-info {
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 200px;
  margin-left: 30px;
}

.edit-button {
  margin-bottom: 20px;
}

.upgrade-link {
  margin: 30px;
  padding-bottom: 20px;
}

.upgrade-button {
  margin-bottom: 30px;
}
